<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">

    <%= render partial: 'upload/shared/not_imported' %>
    <%= render partial: 'upload/shared/amount' %>

    <% if @sales %>
      <div class="panel panel-default">
        <div class="panel-heading"><%= t('upload.result') %></div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><%= Sale.human_attribute_name('buyer') %></th>
                  <th><%= Sale.human_attribute_name('description') %></th>
                  <th><%= Sale.human_attribute_name('price') %></th>
                  <th><%= Sale.human_attribute_name('quantity') %></th>
                  <th><%= Sale.human_attribute_name('address') %></th>
                  <th><%= Sale.human_attribute_name('supplier') %></th>
                </tr>
              </thead>

              <tbody>
                <% @sales.each do |sale| %>
                  <tr>
                    <td><%= sale['buyer'] %></td>
                    <td><%= sale['description'] %></td>
                    <td><%= number_to_currency(sale['price']) %></td>
                    <td><%= sale['quantity'] %></td>
                    <td><%= sale['address'] %></td>
                    <td><%= sale['supplier'] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default panel-heading">
      <%= link_to t('buttons.upload'), root_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

