<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">

    <%= render partial: 'upload/shared/not_imported' %>
    <%= render partial: 'upload/shared/amount' %>

    <% if @sales %>
      <div class="panel panel-default">
        <div class="panel-heading">Showing parser result</div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Buyer</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Address</th>
                  <th>Supplier</th>
                </tr>
              </thead>

              <tbody>
                <% @sales.each do |sale| %>
                  <tr>
                    <td><%= sale['buyer'] %></td>
                    <td><%= sale['description'] %></td>
                    <td><%= format_curr(sale['price']) %></td>
                    <td><%= sale['quantity'] %></td>
                    <td><%= sale['address'] %></td>
                    <td><%= sale['supplier'] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default panel-heading">
      <%= link_to "Upload file", root_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

